:root {
    --primary: #7c7979;
    --secondary: #f0f0f0;
    --tertiary: #ffffff; 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace; 
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1, h2, h3, h4, h5 {
    color: var(--primary);
}

p {
    color: var(--primary);
    font-size: 12px;
}


header {
    background-color: white;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 0px;
    top: 0;
}

header > div > button {
    height: 100%;
}

header > div > button > strong {
    height: 100%;
}

nav {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

nav > a > img {
    width: 40%;
}

nav > input {
    height: 60%;
    width: 30%;
}

.nav_div {
    display: flex;
    gap: 2rem;
}

.nav_div > a {
    color: var(--primary);
}

.Compromisos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Compromisos > img {
    width: 25px;
}

.Compromisos > p {
    font-size: 15px;
}

.Mi_cuenta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mi_cuenta > img {
    width: 25px;
}
.Mi_cuenta > p {
    font-size: 15px;
}


.Mi_cesta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mi_cesta > img {
    width: 23px;
}

.Mi_cesta > p {
    font-size: 15px;
}

.header_div {
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(131, 131, 131);
}

.header_div > button {
    background-color: white;
    border: 0px solid white;
    color: var(--primary);
}

.header_div > button:hover {
    background-color: rgb(235, 235, 235);
}

main {
    height: 85vh;
    display:flex;
    margin-top: 15vh;
}

#first-section {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-items: center;
}

#first-section-1article {
    height: 14vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#first-section-1article > form {
    display: flex;
    flex-direction: column;
}

#opciones {
    width: 10vw;
}

#first-section-2article {
    height: 5vh;
    width: 15vw;
}

#first-section-3article {
    margin-right: 2vw;
    margin-top: 1;
}

#second-section {
    width: 100%
}

#second-section > article {
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    gap: 15px;
}

#second-section > article > a {
    width: 10vw;
}

.product {
    transition: transform 0.3s ease;
}

.product:hover {
    background-color: #dfdfdf;
    margin:5px 5px;
    transform: translateZ(0);
}

#price {
    color: red;
    font-size: 20px;
}

#disponibilidad {
    color: rgb(135, 197, 43);

}

#thirdSeller, #fourthSeller, #thirdSellerLabel, #fourthSellerLabel {
    display: none;
}

#name {
    color: black;
}

#reviews {
    color: black;
}

@media screen and ( max-width: 800px) {

    header {
        height: 5vh;
    }

    header > nav {
        height: 5vh;
        border: 1px solid gray;
    }

    nav {
        height: 100%;
    }

    .nav_div > a > p {
        display: none;
    }

    .nav_div > a > img {
        height: 3vh;
        width: 9vw;
    }

    .header_div {
        display: none;
    }

    #buscador {
        display: none;
    }

    main {
        flex-direction: column;
        margin-top: 0vh;
        height: auto;
    }

    #first-section {
        flex-direction: row;
        width: 100%;
        height: 20vh;
        justify-content: space-around;
        background-color: rgb(211, 211, 211);
    }

    #first-section-1article {
        width: 30vw;
        height: 100%;
        justify-content: center;
    }

    #first-section-2article {
        height: 13vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #opciones {
        width: 30vw;
    }

    #second-section > article {
        grid-template-columns: repeat(3, 29vw);
        margin-left: 15px;
    }

    #second-section > article > a {
        width: 100%;
    }

}
